<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Provider Search</title>
</head>
<body>
    <h1>Healthcare Provider Search</h1>
    <form action="/SoftwareWebsite/results" method="get">
        <label for="zip_code">Enter ZIP code:</label>
        <input type="text" name="zip_code" id="zip_code" required>
        <br>
        <label for="provider">Enter Provider Type:</label>
        <input type="text" name="provider" id="provider" required>
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
